        /* styles.css */

        .both-classes {
            color: #fff;
            font-family: sans-serif;
            text-align: center;
        }

        .first-class {
            background-color: gold;
            font-size: 16px;
        }

        .second-class {
            background-color: silver;
            font-size: 14px;
        }

        #citizen-one {
            font-size: 40px;
            color: red;
        }

        .second-class-link {
            color: pink;
        }

        .second-class-link:hover {
            color: white;
        }